#barcamp

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #F4CD32;
  font-size: 17px;
  font-family:Arial, sans-serif;
}

body {
  margin:0;
}

#fix_header {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #2B4947; 
  display: block;
  height: 25px;
  padding: 20px;
  /*position:fixed;*/
  /*top:0;
  z-index:11;*/

  /* position:fixed;
  top:0;*/
  /*z-index:11;*/
}

#logo {
  position: absolute;
  top:13px;
}
#social {
  position: absolute;
  top:15px;
  right:90px;
}

.content_wrapper {
  position: relative;
  top:0;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.hero {
  max-width: 100%;
  height: auto;
  vertical-align:middle;
}

.trees {
  z-index:2;
  position: absolute;
  top:0;
}
.lake {
  position: absolute;
  top:0px;
  z-index:1;
}
.mountains {
  z-index:0;
}
.hero_logo {
  margin-top: 4%;
  width: 25%;
  left: 50%;
  margin: 70px 0 0 -12.5%;
  position: absolute;
  top: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  z-index:10;
}
  
#register {
  position:absolute;
  top:27px;
  right:190px;
}
/*.nudge{
  position: relative;
  bottom: 20px;
}*/
