html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  top:50px;
  width: 100%;
  overflow: hidden;
  
}

body {
  margin: 0;
}

header {
  background-color: #2C4947;
  height: 50px;
  width: 100%;
  z-index:200;
  position: fixed;
}

#logo {
  width: 175px;
  position:absolute;
  top:0;
  left:5px;
  padding: 5px;
}

#hero_wrapper {
  position:relative;
  display: block;
  margin: auto;
  margin: auto;
  overflow:hidden;
  height:650px;
}

h1 {
  font-family: 'Rokkitt', serif;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #526563;
  font-size: 200%;
  margin:10px;
}

h1.blue {
  position: relative;
  text-align: center;
  font-family: 'Rokkitt', serif;
  margin: 5px;
  font-size: 220%;
  color: #354A60;
  z-index: 99;
}

h1.blue2 {
  position: relative;
  text-align: left;
  font-family: 'Rokkitt', serif;
  margin: 5px;
  font-size: 220%;
  color: #354A60;
  z-index: 99;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-align: center;
  color: #709B4B;
  font-weight: bold;
}
h2.blue {
  position: relative;
  text-align: center;
  font-family: 'Rokkitt', serif;
  margin: 5px;
  font-size: 120%;
  color: #354A60;
  z-index: 99;
}

p {
  font-family: 'Rokkitt', serif;
  margin-right: 25px;
  margin-left: 25px;
  font-weight: normal;
  line-height: 1.5;
  color: #526563;
  font-size: 120%;
}

hr {
  margin: 20px;
  opacity: 0.5;
}

#trees {
  position: absolute;
  top: 0px;
  background-image: url("./assets/trees.png");
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  /*height: 570px;*/
  z-index: 3;
}

#lake {
  position: absolute;
  top: 0px;
  background-image: url("./assets/lake.png");
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  z-index: 2;
}

#mountains {
  position: absolute;
  background-image: url("./assets/mountains.jpg");
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  width: 100%;
  
}

#hero {
  position: relative;
  z-index: 100;
  width: 22%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 60px;
}

#date {
  position: relative;
  z-index: 100;
  width: 15%;
  top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


#aiga_div {
  position: absolute;
  z-index: 3;
  width: 30%;
  bottom: 30%;
  right:0;
  float:right;
  margin-right: -40px
  display: block;
}


.aiga {
  padding: 3px;
  width: 65%;
}

#button_lines {
  position: absolute;
  top:25%;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

#bird_section {
  position: relative;
  width: 43%;
  float: left;
  margin: 8% 5% 8% 5%;
}

#bird {
  width: 13%;
  display: block;
  margin-right:auto;
  margin-left:auto;
  position: relative;
  margin-top:10%;
}

.bird_copy {
  margin: 8% 5% 8% 5%;
}


#register_today {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  margin-right:auto;
  margin-left:auto;
  position: relative;
  margin-top:1%;
  background-color: #6BA235;
  font-size: 100%;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  border: 0px solid;
  z-index: 1;
  font-weight: bold;
}

.price {
  font-family: 'Rokkitt', serif;
  color: #6BA235;
  font-size: 60pt;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 0px;
}

.price::first-letter {
  font-size: 40%;
  vertical-align: super;
}

.center {
  text-align: center;
  margin-bottom: 50px;
}

.badges {
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  display: block;
  width: 200px;
}

.details {
  color: #774C2E;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 5px;
  font-size: 12pt;
}

.dashes {
  border-top: 3px dashed;
  margin: 20px;
  color: #536563;
}

.line_break {
  display: block;
  width:100%;
  height: 30px;
}


@media (min-width: 800px){

.facebook {
    float:left;
    content:url("assets/f.png")
}
  
.twitter {
    position:relative;
    top:2px;
    content:url("assets/t.png")
}
#social {
    position: absolute;
    top:5px;
    right:15px;
    right:90px;
}
.register {
    float:left;
  }
}
/*mobile CSS*/
/*---------------------------------*/

@media (max-width: 800px){

#home {
    position:relative;
    top:50px;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
  }

  body {
    margin: 0;
  }

#logo {
    width: 175px;
    margin-left: 5px;
    padding: 5px;
}

#hero_wrapper {
    position:relative;
    height: 550px;
    overflow:hidden;
}

h1 {
    font-family: 'Rokkitt', serif;
    font-weight: normal;
    margin-right: 20px;
    margin-left: 20px;
    color: #526563;
    font-size: 28pt;
}

h1.blue {
    font-family: 'Rokkitt', serif;
    font-weight: normal;
    margin-right: 20px;
    margin-left: 20px;
    color: #334860;
    font-size: 22pt;
    line-height:22px;
}

h2 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15pt;
    text-align: center;
    color: #709B4B;
    font-weight: bold;
}
  
h2.blue {
    font-family: 'Rokkitt', serif;
    font-size: 12pt;
    text-align: center;
    color: #334860;
    line-height:10px;
}

p {
    font-family: 'Rokkitt', serif;
    margin-right: 25px;
    margin-left: 25px;
    font-weight: normal;
    line-height: 1.5;
    color: #526563;
    font-size: 16pt;
}

hr {
    margin: 20px;
    opacity: 0.5;
}

#trees {
    position: absolute;
    width: 900px;
    margin-left: -450px;
    margin-right: -450px;
    display: block;
    left: 50%;
    right: 50%;
    z-index: 2;
}

#lake {
    width: 900px;
    position: absolute;
    margin-right: -450px;
    margin-left: -450px;
    right: 50%;
    left: 50%;
    display: block;
    z-index: 1
}

#mountains {
    width: 900px;
    position: absolute;
    margin-right: -450px;
    margin-left: -450px;
    right: 50%;
    left: 50%;
    display: block;
    z-index: 0
}

#hero {
    position: relative;
    z-index: 3;
    width: 225px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 40px;
}

#date {
    position: relative;
    z-index: 3;
    width: 150px;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
  
.menu {
    position:absolute;
    top: 5px;
    right: 30px;
    padding: 5px;
    
}
.mobile {
    position:relative;
    width:45px;
    content:url("assets/menu.png")
    
  }
}



/*#aiga_div {
background-color: #536563;
padding-top:2px;
width:100%;
position: absolute;
bottom:0;
z-index:300;
}

#aiga {
display: block;
margin: 0 auto;
padding: 3px;
width: 230px;
}
*/




/*------------------------------------------------------------------------------------------------------------------------*/

/*@media (min-width: 675px){*/

/*need to set home wrapper same top as height of header for fixed head to work.*/
